@font-face {
  font-family: myFirstFont;
  src: url(../Assets/NunitoSans-Light.ttf);
}

.Box1 {
  background-color: #bad0e4;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: myFirstFont;
}

.Box2 {
  height: 90%;
  border-radius: 10px;
  background-color: #e1f1fe;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.itemColumn {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemBox {
  background-color: #d3e8fb;
  border-radius: 20px;
  height: 100px;
  box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
}

.btnActive {
  background-color: #ffffff;
  box-shadow: 0px -1px 3px 1px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  color: royalblue;
}

.heading {
  height: 10%;
}

.projectColumn {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
}

.projectBox {
  padding: 4px 8px;
  background-color: #d3e8fb;
  border-radius: 20px;
  width: 200px;
  min-width: 150px;
  height: 200px;
  box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
}

.projectBox img {
  border-radius: 10px;
}

.projectName {
  font-weight: 600;
}
.projectLink {
  width: 100%;
  text-align: center;
  border-radius: 999px;
  background-color: #ffffff;
  transition: 0.2s;
}

.projectLink a {
  text-decoration: none;
  color: royalblue;
  font-weight: bold;
}

.projectBox:hover .projectLink {
  background-color: royalblue;
  transition: 0.2s;
}

.projectBox:hover .projectLink a {
  color: #ffffff;
  transition: 0.2s;
}
